USE [master]
GO
/****** Object:  Database [DBWorkCycle]    Script Date: 09/02/2025 21:00:08 ******/
CREATE DATABASE [DBWorkCycle]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBWorkCycle', FILENAME = N'C:\Users\maryc\DBWorkCycle.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBWorkCycle_log', FILENAME = N'C:\Users\maryc\DBWorkCycle_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBWorkCycle].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBWorkCycle]
GO
/****** Object:  Table [dbo].[administrador]    Script Date: 09/02/2025 21:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrador](
	[idAdministrador] [int] NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAdministrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[funcionario]    Script Date: 09/02/2025 21:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcionario](
	[idFuncionario] [int] NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[producaoFeita] [int] NULL,
	[presenca] [char](1) NULL,
	[idLinhaProducao] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idFuncionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[funcionarioPosto]    Script Date: 09/02/2025 21:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcionarioPosto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idFuncionario] [int] NOT NULL,
	[idPosto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[linhaProducao]    Script Date: 09/02/2025 21:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[linhaProducao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[producaoFeita] [int] NOT NULL,
	[idAdministrador] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posto]    Script Date: 09/02/2025 21:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](100) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[producaoNecessaria] [int] NULL,
	[idLinhaProducao] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[funcionario]  WITH CHECK ADD FOREIGN KEY([idLinhaProducao])
REFERENCES [dbo].[linhaProducao] ([id])
GO
ALTER TABLE [dbo].[funcionarioPosto]  WITH CHECK ADD FOREIGN KEY([idFuncionario])
REFERENCES [dbo].[funcionario] ([idFuncionario])
GO
ALTER TABLE [dbo].[funcionarioPosto]  WITH CHECK ADD FOREIGN KEY([idPosto])
REFERENCES [dbo].[posto] ([id])
GO
ALTER TABLE [dbo].[linhaProducao]  WITH CHECK ADD FOREIGN KEY([idAdministrador])
REFERENCES [dbo].[administrador] ([idAdministrador])
GO
ALTER TABLE [dbo].[posto]  WITH CHECK ADD FOREIGN KEY([idLinhaProducao])
REFERENCES [dbo].[linhaProducao] ([id])
GO
USE [master]
GO
